body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fff1f1;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #FDDCC7;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #6A574C;
}

.logo {
    display: flex;
}

.logo img{
    height: 100px;
    padding-left: 30px;
}

nav a{
    padding-right: 30px;
    font-weight: 900;
}

nav a:hover{
    color: #1C0B01;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

.cafeteria{
    display: flex;
    width: 100%;
    align-items:top;
}

.presentacion img{
    flex: 1;
    width: 700px;
    padding-top: 60px;
    padding-left: 50px;
}

.eslogan{
    font-size: 70px;
    color: #40614E;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.parrafoEslogan{
    font-size: 40px;
    color: #6A574C;
    padding-left: 50px;
    padding-right: 50px;
}

.segundoContenedor{
    display: flex;
    width: 100%;
    align-items:top;
}

.aboutUs{
    font-size: 30px;
    color: #6A574C;
    padding-top: 30px;
    padding-left: 50px;
}

.granosCafe img{
    flex: 1;
    width: 700px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Pie de pagina*/

.piePagina{
    padding-top: 50px;
}

footer div{
    display: flex;
    background-color: #FDDCC7;
    color: #6A574C;
    min-height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content:center;
}

a:hover{
    color: #1C0B01;
}

/**Tarjetas Restaurante**/

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.wrapNombreSeccion {
    color: #40614E;
}

.columna2.menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    color: #6A574C;
}

.platilloMenu{
    display: flex;
    align-items: stretch;
    border: 1px solid #40614E;
    border-radius: 6px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.platilloMenu:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}


.imgPlatilloMenu{
    display: flex;
    flex-basis: 25%;
    justify-content: center; 
    align-items: center; 
}

.imgPlatilloMenu img{
    max-width: 110px;
    max-height: 85px;
}

.nombrePlatilloMenu{
    border: 1px solid #40614E;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
}

.precioPlatilloMenu{
    display: flex;
    flex-basis: 15%;
    flex-direction: column; 
    justify-content: center;
    font-weight: bold;
}

.precioPlatilloMenu span{
    display: block;
    text-align: center; 
}

/*Galeria*/
.intro{
text-align: center;
color: #40614E;
font-weight: bold;
font-style: italic;
}

.container{
    height: 100vh;
    width: 100%;
    display: grid;
    place-content: center;
}

.slide{
    width: 100vw;
    max-width: 1000px;
    height: 720px;
    overflow: hidden;
    border-radius: 10px;
}

.slide ul{
    display: flex;
    padding: 0;
    width: 1000%;
    animation: slide 30s infinite cubic-bezier(0.55, 0.48, 0.37, 0.92);
}

.slide img {
    width: 100%;
    border-radius: 10px;
    object-fit: fill;
}

@keyframes slide {
    0%   { margin-left: 0%; }
    10%  { margin-left: 0%; }

    12%  { margin-left: -100%; }
    22%  { margin-left: -100%; }

    24%  { margin-left: -200%; }
    34%  { margin-left: -200%; }

    36%  { margin-left: -300%; }
    46%  { margin-left: -300%; }

    48%  { margin-left: -400%; }
    58%  { margin-left: -400%; }

    60%  { margin-left: -500%; }
    70%  { margin-left: -500%; }

    72%  { margin-left: -600%; }
    82%  { margin-left: -600%; }

    84%  { margin-left: -700%; }
    94%  { margin-left: -700%; }

    96%  { margin-left: -800%; }
    99%  { margin-left: -800%; }

    100% { margin-left: -900%; }
}

.cierre{
    text-align: center;
    color: #40614E;

}

/*Promociones*/

.promocionesCafeteria:hover{
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.wrapPromo{
    max-width: 1200px;
    margin: 0 auto;

}

.column-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap:  1rem;
    row-gap: 1rem;
}

.promocionesCafeteria{
    color: #FDDCC7;
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    display: flex;
    flex-flow: column;
}

hr{
    background: #fff1f1;
    height: 2.5px;
    width: 50px;
    border: none;
}

.precioPromocion{
    font-weight: bold;
}

.precioPromocion span{
    font-size: 2rem;
    color: #fff1f1;
}

.wrapPromo h1{
    color: #40614E;
    text-align: center;
}