body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #FFFF;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #FDDCC7;
    align-items: center;
    min-height: 70px;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #6A574C;
}

.logo {
    display: flex;
}

.logo img{
    height: 100px;
    padding-left: 30px;
}

nav a{
    padding-right: 30px;
    font-weight: 900;
}

nav a:hover{
    color: #1C0B01;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

.cafeteria{
    display: flex;
    width: 100%;
    align-items:top;
}

.presentacion img{
    flex: 1;
    width: 700px;
    padding-top: 60px;
    padding-left: 50px;
}

.eslogan{
    font-size: 70px;
    color: #40614E;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.parrafoEslogan{
    font-size: 40px;
    color: #6A574C;
    padding-left: 50px;
    padding-right: 50px;
}

.segundoContenedor{
    display: flex;
    width: 100%;
    align-items:top;
}

.aboutUs{
    font-size: 30px;
    color: #6A574C;
    padding-top: 30px;
    padding-left: 50px;
}

.granosCafe img{
    flex: 1;
    width: 700px;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

/*Pie de pagina*/

.piePagina{
    padding-top: 50px;
}

footer div{
    display: flex;
    background-color: #FDDCC7;
    color: #6A574C;
    min-height: 50px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content:center;
}

a:hover{
    color: #1C0B01;
}

/**Tarjetas Restaurante**/

.wrap{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 25px;
}

.wrapNombreSeccion {
    color: #40614E;
}

.columna2.menu{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
    color: #6A574C;
}

.platilloMenu{
    display: flex;
    align-items: stretch;
    border: 1px solid #FDDCC7;
    border-radius: 6px;
}

.imgPlatilloMenu{
    display: flex;
    flex-basis: 25%;
    justify-content: center; 
    align-items: center; 
}

.imgPlatilloMenu img{
    max-width: 110px;
    max-height: 85px;
}

.nombrePlatilloMenu{
    border: 1px solid #FDDCC7;
    border-bottom: none;
    border-top: none;
    flex-basis: 60%;
    padding: 0 1rem;
}

.precioPlatilloMenu{
    display: flex;
    flex-basis: 15%;
    flex-direction: column; 
    justify-content: center;
    font-weight: bold;
}

.precioPlatilloMenu span{
    display: block;
    text-align: center; 
}

/*Galeria*/

.sliderWrapper{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .25rem .5rem #1C0B01;
    border-radius: .5rem;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.sliderNav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.sliderNav a{
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    background-color: #FFFF;
    opacity: .75;
    transition: opacity ease 250ms;
}

.sliderNav a:hover{
    opacity: 100%;
}