body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #EAF5E0;
    align-items: center;
    border-radius: 25px;
    min-height: 70px;
    padding: 10px;

}

a{
    text-decoration: none;
    color: #1A0A01;
}

.logo {
    display: flex;
}

.logo img{
    height: 100px;
    padding-left: 30px;
}

nav a{
    padding-right: 30px;
    font-weight: 900;
}

nav a:hover{
    color: #ffffff;
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

.cafeteria{
    display: flex;
    width: 100%;
    align-items:top;
}

.aboutUs img{
    flex: 1;
    width: 700px;
    padding-top: 60px;
    padding-left: 50px;
}

.eslogan{
    font-size: 70px;
    color: #1A0A01;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.parrafo{
    font-size: 40px;
    color: #000000;
    padding-left: 50px;
    padding-right: 50px;
}